<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Folder List</h1>
        {% for item in folderlist %}
            
            {% if item["folder"]  %}
                <li><a href="{{ url_for("folderlist", itemid=item["id"]) }}">{{ item["name"] }}</a></li>
            {% endif %}

            {% if item["file"]  %}
                <li> {{ item["file"]["hashes"]["sha1Hash"].lower() }}  &nbsp;{{ item["name"] }}</a></li>
            {% endif %}


        {% endfor %}
    <br>
    <hr> <a href="javascript:window.history.go(-1)">Back</a>
    <br> <a href="{{ url_for('onedrive') }}">OneDrive root</a>
    <br> <a href="{{ url_for('index') }}">Homepage</a>
</body>
</html>

