certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.1.1
Flask-Session==0.3.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
msal==1.1.0
pycparser==2.19
PyJWT==1.7.1
requests==2.22.0
six==1.14.0
urllib3==1.25.8
Werkzeug==0.16.0
